# Ignoruj virtuální prostředí
venv/

# Python cache
__pycache__/
*.pyc

# VS Code konfigurace
.vscode/

# Schema drift s vizualizacemi - problém s vykreslením na GitHubu
schema_drift/schema_drift_detection_vizuals.ipynb